.project-cover-outer {

    // Vertical centering
    // http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
    position: relative;
    top: 50%;
    transform: translateY( -50% );

    z-index: $z-project-cover;

    width: 100%;
    // @include min-screen( $bp-mobile ) { position: absolute; }
    @include min-screen( $bp-tablet ) { width: 66.600%; }

    margin: 0; float: right;

    .project-cover {

        list-style: none outside none;
        padding: 0;
        min-height: 100vh;
        height: 100vh;
    }

    .project-cover-lists {

        position: relative;
        height: 100%;

        .project-cover-image {

            min-height: 100%;
            height: 100%;
            min-width: initial;
            width: auto;

            @include max-screen( $bp-mobile ) {

                min-height: initial;
                height: auto;
                min-width: 100%;
                width: 100%;
            }

            position: absolute;
        }
    }

    &.left { float: left; text-align: left; .project-cover-image { left: 0; right: auto; } }
    &.middle { float: none; margin: 0 auto; text-align: center; }
    &.right { float: right; text-align: right; .project-cover-image { left: auto; right: 0; } }

}

.project-cover-outer {

    .flex-control-nav { bottom: 0; }
    .flex-control-paging li a { border-radius: 0; }
}