.project-cover-outer {

    // Vertical centering
    // http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
    
    transform-style: preserve-3d;

    @include clearfix;

    position: fixed; top: 0; right: 0; bottom: 0; left: 0;
    height: 100%;
}

.project-title-outer {

    position: relative;
    top: 50%;
    transform: translateY( -50% );

    width: 100%;
    @include min-screen( $bp-tablet ) { width: 33.333%; }

    margin: 0; float: left;

    &.left { float: left; }
    &.middle { float: none; margin: 0 auto; }
    &.right { float: right; text-align: right; }

    .project-title,
    .project-excerpt-outer {
        padding: 0 x( 2 );
        text-transform: uppercase;
    }

    .project-title {
        letter-spacing: -0.03em;
    }
    .project-excerpt-outer * {
        letter-spacing: -0.01em;
        color: inherit;
    }
}