.project-title-outer {

    position: relative;
    top: 50%;
    transform: translateY( -50% );

    float: left;
    z-index: $z-project-title;

    @media only screen and ( orientation: landscape ) {
        margin: 0;
        width: 33.333%;
    }

    @media only screen and ( orientation: portrait ) {
        margin: 25vh 0 0 0;
        width: 100%;
    }

    &.left { float: left; }
    &.middle { float: none; margin: 0 auto; }
    &.right { float: right; text-align: right; }

    .project-title,
    .project-excerpt-outer {

        text-transform: uppercase;

        @media only screen and ( orientation: landscape ) {
            padding: 0 x( 2 );
        }

        @media only screen and ( orientation: portrait ) {
            padding: 0 x( 1 );
        }
    }

    .project-title {
        letter-spacing: -0.03em;
    }

    .project-excerpt-outer {
        & > * {
            letter-spacing: -0.01em;
            color: inherit;
        }

        p {
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }
    }
}