.project-title-outer {

    // Vertical centering
    // http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
    position: relative;
    top: 50%;
    transform: translateY( -50% );

    z-index: $z-project-title;

    width: 100%;
    // @include min-screen( $bp-tablet ) { position: absolute; }
    @include min-screen( $bp-tablet ) { width: 33.333%; }

    margin: 0; float: left;

    &.left { float: left; }
    &.middle { float: none; margin: 0 auto; }
    &.right { float: right; text-align: right; }

    .project-title,
    .project-excerpt-outer {
        padding: 0 x( 2 );
        text-transform: uppercase;
    }

    .project-title {
        letter-spacing: -0.03em;
    }
    .project-excerpt-outer * {
        letter-spacing: -0.01em;
        color: inherit;
    }
}