@import "base/doc";

/* ------ {{ ie-toggle }} ------ */
$old: false;

/* ------ {{ normalize }} ------ */
@import "vendor/normalize/normalize";

/* ------ {{ compass-mixins }} ------ */
@import "vendor/compass-mixins/lib/compass";
@import "vendor/compass-mixins/lib/compass/layout";
@import "vendor/compass-mixins/lib/compass/support";
@import "vendor/compass-mixins/lib/animate";

/* ------ {{ sirna-functions }} ------ */
@import "function/sirna-parse-int";
@import "function/sirna-rem-px";
@import "function/sirna-unit-scale";

/* ------ {{ sirna-mixins }} ------ */
@import "mixin/sirna-clearfix";
@import "mixin/sirna-font-face";
@import "mixin/sirna-font-icon";
@import "mixin/sirna-media-query";
@import "mixin/sirna-transition";

/* ------ {{ base }} ------ */
@import "base/font";
@import "base/color";
@import "base/setting";

/* ------ {{ global object }} ------ */
@import "object/global/element";
@import "object/global/page";
@import "object/global/main-head";
@import "object/global/logo";

/* ------ {{ vendors }} ------ */
@import "vendor/fontawesome/font-awesome";

/* ------ {{ non-global object }} ------ */

/* ------ {{ debugger }} ------ */

/* ------ {{ shame }} ------ */
.debugger {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 320px;

    padding: .25rem 2rem;
    margin: 0;

    color: #FFF;
    background-color: rgba( $grey, .2 );
    font-size: 10px;
    letter-spacing: 0.05em;

    white-space: pre-line;
}