@import "base/doc";

/* ------ {{ ie-toggle }} ------ */
$old: false;

/* ------ {{ normalize }} ------ */
@import "vendor/normalize/normalize";

/* ------ {{ compass-mixins }} ------ */
@import "vendor/compass-mixins/compass";
@import "vendor/compass-mixins/compass/layout";
@import "vendor/compass-mixins/compass/support";

/* ------ {{ sirna-functions }} ------ */
@import "function/sirna-parse-int";
@import "function/sirna-rem-px";
@import "function/sirna-unit-scale";

/* ------ {{ sirna-mixins }} ------ */
@import "mixin/sirna-clearfix";
@import "mixin/sirna-font-face";
@import "mixin/sirna-font-icon";
@import "mixin/sirna-media-query";
@import "mixin/sirna-transition";

/* ------ {{ base }} ------ */
@import "base/font";
@import "base/color";
@import "base/setting";

/* ------ {{ global object }} ------ */
@import "object/global/element";
@import "object/global/text";
@import "object/global/scrollbar";

/* ------ {{ vendors }} ------ */
@import "vendor/fontawesome/font-awesome";
@import "vendor/unyson/fw";
@import "vendor/unyson/frontend-grid";
@import "vendor/unyson/extension";
@import "vendor/visual-form-builder/vfb";
@import "vendor/woocommerce/woocommerce";
@import "vendor/woocommerce-cart-tab/wct";
@import "vendor/wysija/wysija";
@import "vendor/formstone/stepper";
@import "vendor/formstone/selecter";

/* ------ {{ non-global object }} ------ */
@import "object/page";
@import "object/header";
@import "object/footer";
@import "object/nav";
@import "object/title";
@import "object/preloader";

/* ------ {{ products }} ------ */
@import "object/product/wc";
@import "object/product/heirloom-archive";
@import "object/product/heirloom-filter";
@import "object/product/heirloom-product";
@import "object/product/scarve-archive";
@import "object/product/scarve-product";
@import "object/product/sizeguide";

/* ------ {{ expose }} ------ */
@import "object/expose";

/* ------ {{ inspiration }} ------ */
@import "object/inspiration";

/* ------ {{ ethos }} ------ */
@import "object/ethos";

/* ------ {{ debugger }} ------ */
@import "object/global/debugger";


/* ------ {{ shame }} ------ */
.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
    border: 1px solid rgb(238, 238, 238);
}

.dimmed, .po-fscr-toggle { opacity: .25; }

.popmake-content {
    .widget_wysija.shortcode_wysija .wysija-paragraph:first-child() {
        .selecter {
            margin-bottom: x(.5);
        }
    }
}
.popmake-close { padding: 4px 6px 4px 8px !important; }
.popmake-title {
    font-weight: bold !important;
    border-bottom: 1px solid $black;
    margin-bottom: x(1);
}

#scarve.product .variations_form.cart .variations {

    @include s-clearfix;

    .fieldrow {

        &:nth-child(2) {

            width: 106px;
            float: left;
            margin-bottom: 0;

            label { margin-right: 8px; }

            .selecter-selected:after { display: none; }

            .selecter {
                width: 2em;
                text-align: center;
                padding: 0;
            }

            .selecter-element { width: 2em; }
            .selecter-selected { padding: 0; }
            .selecter-item { padding: 0; }
        }

        &:nth-child(3) {

            margin-bottom: 0;

            label { display: none; }
            .selecter-selected:after { display: none; }
            .selecter {
                width: 2em;
                text-align: center;
                padding: 0;
            }

            .selecter-element { width: 2em; }
            .selecter-selected { padding: 0; }
            .selecter-item { padding: 0; }
        }
    }
}